<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulina.wisehome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/patient_avatar"
        android:label=""
        android:roundIcon="@drawable/patient_avatar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.paulina.wisehome.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.paulina.wisehome.rooms.RoomsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.patientcard.access.AccessActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".lights.LightsActivity" />
        <activity android:name=".weather.WeatherActivity" />
        <activity android:name=".alarms.AlarmsActivity" />
        <activity android:name=".blinds.BlindsActivity" />
        <activity android:name=".unconfigdevices.UnconfigDevicesActivity" />
        <activity android:name=".adddevice.AddDeviceActivity" />
        <activity android:name=".colorlist.ColorListActivity" />

    </application>
</manifest>
